@model SusuCMS.Blog.Category
@{
    var dataContext = BlogWorkContext.GetDataContext();
    var list = dataContext.Categories.WithSiteId(CurrentSite.Id).ToList();
    if (Model.Id != 0)
    {
        list.RemoveOffspring(Model);
        var item = list.First(i => i.Id == Model.Id);
        list.Remove(item);
    }
}
@using (Html.BeginForm())
{
    <table class="form-table">
        <tbody>
            <tr>
                <th>@Html.LabelFor(m => m.Name)
                </th>
                <td>
                    @Html.TextBoxFor(m => m.Name)
                    @Html.ValidationMessageFor(m => m.Name)
                </td>
            </tr>
            <tr>
                <th>@Html.LabelFor(m => m.ParentId)
                </th>
                <td>@Html.DropDownListFor(m => m.ParentId, new SelectList(list, "Id", "Name"), SusuCMS.Blog.DisplayResource.None)
                </td>
            </tr>
            <tr>
                <th>@Html.LabelFor(m => m.IsOnline)
                </th>
                <td>@Html.CheckBoxFor(m => m.IsOnline)
                </td>
            </tr>
            <tr>
                <th>
                </th>
                <td>
                    @Html.AntiForgeryToken()
                    @Html.SaveButton()
                    @Html.ReturnUrl()
                </td>
            </tr>
        </tbody>
    </table>
}