<!DOCTYPE html>
<html>
<head>
    <title>@FrontHtml.HtmlTitle()</title>
    @FrontHtml.HeadContent()
</head>
<body>
    <div id="wrapper">
        @FrontHtml.Shared("Header")
        @FrontHtml.Shared("Navigation")
        <div id="main" class="layout3 clearfix">
            <div id="rsidebar" class="zone">
                @FrontHtml.Zone("rsidebar")
            </div>
            <div id="content" class="zone">
                @FrontHtml.Zone("content")
            </div>
        </div>
        @FrontHtml.Shared("Footer")
    </div>
</body>
</html>
